.brand{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.searchHead{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.music-icon{
    color: #0069D9;
}

.searchCard{
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 2rem;
}

.tracksHeading{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.trackCard{
    background-color: transparent;
}

.trackCardBody{
    background-color: rgba(255, 255, 255, 0.705);
}

.spinner-img{
    border-radius: 2rem;
}

.lyricCard{
    margin-bottom: 2rem;
    border-radius: 2rem;
    font-size: 1.05rem;
}

.lyricHead{
    padding: 1rem 2rem;
}
